@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row" >
        <div class="background-img col-md-7">
            <img src="~/image/index.jpg" />
        </div>
        <div class="blockquote col-md-5" style="text-align:center; padding:150px 12px;color:darkslateblue;">
            <h1>
                Take a Quiz 
            </h1>
            <h2>
                Sharp your Minds!
            </h2>
        </div>
    </div>
</div>
