@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>End of Examination</title>
</head>
<body>
    <div>
        <h1 style="text-align:center">End of Examination!!</h1>
        <h2 style="text-align:center">Your score is: @ViewBag.QuizTotalScore </h2>
        <p>@ViewBag.error</p>
    </div>
</body>
</html>
