body {
    background-color: white; /* Set a light background color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-form {
    flex: 1; /* Take up 50% of the container's width by default */
    padding: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}
