@model string // Change the model to a string for the email input

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <!-- Left side with the image -->
        <div class="login-image col-md-7"><img src="~/teacherstudent.jpg" class="img-fluid" alt="Image" /></div>

        <!-- Right side with the forgot password form -->
        <div class="login-form col-md-5">
            <h2>Forgot Password</h2>
            <br />
            @using (Html.BeginForm("StudentForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="StudentEmail">Email:</label>
                    <input type="email" id="StudentEmail" name="StudentEmail" class="form-control" placeholder="Enter your email" />
                    <span class="text-danger">@ViewData["ErrorMessage"]</span>
                </div>
                <br />
                <div style="text-align:center">
                    <button type="submit" class="btn btn-primary">Send OTP</button>
                </div>
            }
            <p>Remember your password? <a href="@Url.Action("StudentLogin", "Account")">Login here</a></p>
        </div>
    </div>
</div>
