@model string
@{
    ViewBag.Title = "Teacher Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <!-- Right side with the password reset form -->
        <div class="login-form col-md-5">
            <h2>Reset Password</h2>
            <br />
            @using (Html.BeginForm("TeacherResetPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password" />
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm your new password" />
                </div>
                <div class="text-danger">
                    @ViewBag.ErrorMessage
                </div>
                <br />
                <div style="text-align:center">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            }
        </div>
        <!-- Left side with the image -->
        <div class="login-image col-md-7"><img src="~/teacherstudent.jpg" class="img-fluid" alt="Image" /></div>
    </div>
</div>
