@model string
@{
    ViewBag.Title = "Teacher Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <!-- Right side with the password reset form -->
        <div class="login-form col-md-5">
            <h2>Forgot Password</h2>
            <br />
            @using (Html.BeginForm("TeacherForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="TeacherEmail">Email</label>
                    <input type="email" id="TeacherEmail" name="TeacherEmail" class="form-control" placeholder="Enter your email" />
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                </div>
                <br />
                <div style="text-align:center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <p>Remember your password? <a href="@Url.Action("TeacherLogin", "Account")">Login here</a></p>
            }
        </div>
        <!-- Left side with the image -->
        <div class="login-image col-md-7"><img src="~/teacherstudent.jpg" class="img-fluid" alt="Image" /></div>
    </div>
</div>
